.main-body {
 background-color: #212121;
 font-family: 'lato';
}

/*3. Enlarge the font size to: 4rem*/
/*4. Thicken the font weight to: 900*/
/*5. Change the text color to: white*/

.main-title {
 font-size: 4rem;
 font-weight: 900;
 color: white;
}

/*6. Enlarge the font size to: 1.25rem*/
/*7. Thicken the font weight to: 400*/
/*8. Change the text color to: orangered*/
/*9. Change the background color to: white*/

.main-subtitle {
 font-size: 1.25rem;
 font-weight: 400;
 color: orangered;
 background-color: white;
}

/*10. Enlarge the font size to: 3rem*/
/*11. Thin the font weight to: 100*/
/*12. Change the text color to: white*/

.main-paragraph {
 font-size: 3rem;
 font-weight: 100;
 color: white;
}

/*13. add a text shadow with the following specs:
 horizontal offset: 2px
 vertical offset: 2px
 shadow blur: 0
 color: orangered*/

.main-strong {
 text-shadow: 2px 2px 0 orangered;
}
0