p {
    background-color: yellow;
}

.nice {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.nicer {
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}